.grid {
	height: 100%;
	width: 100%;
}
.col-1-7 {
	height: 100%;
	width: 57%;
	float: left;
	background-color: white;
	/*background-position: left;*/
	text-align: right;
}
.col-8-12 {
	height: 100%;
	width: 43%;
	background-color: black;
	float: right;
	padding-top: 0;
}