@import url('normalize.css');
@import url('grid.css');

*{
	font-family: helvetica;
}
#temperature {
	font-size: 7em;
	position: relative;
	top: 0.12em;
	right: 0.05em;
}
#degrees-image{
	z-index: 1;
	position: relative;
	right: 2.1%;
}
#button-container{
	clear: both;
}
h2 {
 background-color: red;
}
#PSM{
	background: white;
}
#button-container{
	font-size: 3em;
	position: relative;
	right: 0.3em ;
}
.increase-temp{
	background: none;
	padding: 0;
	border: none;
	left: 0;
}
.decrease-temp{
	background: none;
	padding: 0;
	border: none;
	left: 0;
}
.reset{
	background: none;
	padding: 0;
	border: none;
	left: 0;
}
.PSM-on{
	background: none;
	padding: 0;
	border: none;
	left: 0;
}
.PSM-off{
	background: none;
	padding: 0;
	border: none;
	left: 0;
}